@import url('reset.css');
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('grid.css');

:root {
    --principal-bg-color: #111;

    --prim-txt-color: #fff;
    --sec-txt-color: #c00;
    --ter-txt-color: #555;

    --prim-bg-color: #222;
    --sec-bg-color: #333;
    --ter-bg-color: #555;

    --button-bg-color: #d00;
    --hover-button-bg-color: #f00;

    --button-txt-color: #fff;

    --border-color: #600;
    --focus-border-color: #909;

    --title-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --prim-text-font-family: 'Century Gothic';
    --sec-text-font-family: 'Sawarabi Gothic', sans-serif;
}

::-webkit-scrollbar {
    background-color: var(--border-color);
    width: 10px;
    height: 10px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sec-bg-color);
    border-radius: 8px;
}

body {
    background-color: var(--prim-bg-color);
    color: var(--prim-txt-color);
    font-family: var(--prim-text-font-family);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: var(--title-font-family)
}

a {
    text-decoration: none;
    color: var(--prim-txt-color);
}

a:hover {
    color: var(--sec-txt-color)
}

.input,
.input:focus {
    border-radius: 4px;
    border: solid 1px var(--border-color);
    background-color: var(--ter-bg-color);
    color: var(--button-txt-color);
    font-family: var(--prim-text-font-family);
    padding: 0 20px;
}

:focus-visible {
    outline: solid 2px var(--focus-border-color);
}

.button {
    background-color: var(--button-bg-color);
    border-radius: 4px;
    border: solid 1px var(--border-color);
    height: 1.5em;
}

.button:hover {
    background-color: var(--hover-button-bg-color);
    cursor: pointer;
}

.sqrform {
    width: 3em;
    height: 3em;
    padding: 0;
    overflow: hidden;
}

.topbar {
    width: 100vw;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 6px 0;
    background-color: var(--prim-bg-color);
    box-shadow: 0px 0px 10px var(--ter-bg-color);
    z-index: 1;
}

.mt_logo {
    border-radius: 6px;
    margin: 0 16px;
}

.topsearch,
.topbuttons {
    display: flex;
    justify-content: right;
    gap: 2px;
    padding-right: 26px;
}

.pagebody {
    margin: 0 34px 24px 24px;
}

.profile,
.interactions,
.conections {
    border: solid 1px var(--border-color);
    display: block;
    border-radius: 8px;
}

.profile {
    background-color: var(--principal-bg-color);
}

.interactions {
    border: none;
}

.cover_cont {
    width: 100%;
    height: 100px;
    background-color: var(--sec-bg-color);
    border-radius: 8px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar_cont {
    position: relative;
    top: -50px;
}

.avatar {
    display: flex;
    margin: auto;
    border: solid 3px white;
    border-radius: 4px;
}

.search_svg path {
    fill: var(--ter-bg-color);
}

.dotcont {
    position: relative;
    z-index: 1;
    top: -45px;
    right: -15px;
}

.reddot {
    fill: var(--prim-bg-color);
}

.profile_name {
    text-align: center;
}

.profile_info {
    text-align: center;
    padding: 0 30px;
}

p {
    color: var(--ter-txt-color);
    text-align: center;
}

.descript {
    color: var(--sec-txt-color);
    text-align: center;
}

.info {
    text-align: justify;
}

.counter {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
    line-height: 0.8em;
}

.followers, .posts {
    background-color: var(--sec-bg-color);
    padding: 5px;
    text-align: center;
    width: 90px;
    border-radius: 4px;
    font-weight: bold;
}

.buttons {
    margin: -30px 30px 0 30px;
}

.lgbtn {
    background-color: var(--sec-bg-color);
    height: 48px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    text-indent: 10px;
    margin-bottom: 5px;
    border: none;
}

a:visited > .lgbtn {
    background-color: var(--button-bg-color);
}

.bell {
    padding: 10px;
}

.stories {
    white-space: nowrap;
    overflow-y: hidden;

}

.newstory, .story {
    width: 110px;
    height: 152px;
    border-radius: 4px;
    background-color: #FFF;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: 1px;
}

.newstory {
    border: dashed 1px var(--border-color);
}

.insidecard {
    margin-top: 50px;
}

.storyimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.postarea {
    width: 100%;
    display: flex;
    gap: 12px;
    margin: 24px 0;
    padding: 12px;
    box-sizing: border-box;
    border: solid 1px var(--border-color);
    border-radius: 6px;
    background-color: var(--principal-bg-color);
}

textarea {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
}

.post_text {
    width: 100%;
}

.formbase {
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}

.formbase p {
    font-size: 0.9em;
}

.attachments {
    display: flex;
    gap: 4px;
}

.submit {
    height: 3.5em;
    width: 5em;
}

.postcard {
    background-color: var(--principal-bg-color);
    border: solid 1px var(--border-color);
    border-radius: 6px;
    margin-top: 24px;
}

.card_head {
    display: flex;
    width: 100%;
    gap: 12px;
    /* margin: 24px 0; */
    padding: 12px;
    box-sizing: border-box;
    /* border: solid 1px var(--border-color); */
    border-radius: 6px;
}

.card_head h3 {
    margin: 0;
    line-height: 20px;
}

.card_head p {
    font-size: 0.8em;
    line-height: 20px;
    text-align: left;
}

.card_body {
    padding: 0 12px;
}

.card_body p {
    text-align: left;
}

.another_user {
    display: flex;
}

.coment_area {
    width: 100%;
    display: flex;
    gap: 12px;
    margin: 24px 0;
    box-sizing: border-box;
    border-radius: 6px;
}

.card_base {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}