@import url('reset.css');
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('grid.css');

:root {
    --prim-txt-color: #fff;
    --sec-txt-color: #c00;
    --ter-txt-color: #555;
    --prim-bg-color: #222;
    --sec-bg-color: #333;
    --ter-bg-color: #555;

    --button-bg-color: #d00;
    --hover-button-bg-color: #f00;

    --button-txt-color: #fff;

    --border-color: #600;
    --focus-border-color: #909;

    --title-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --prim-text-font-family: 'Century Gothic';
    --sec-text-font-family: 'Sawarabi Gothic', sans-serif;
}

::-webkit-scrollbar {
    background-color: var(--border-color);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sec-bg-color);
    border-radius: 8px;
}

body {
    background-color: var(--prim-bg-color);
    color: var(--prim-txt-color);
    font-family: var(--prim-text-font-family);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: var(--title-font-family)
}

a {
    text-decoration: none;
    color: var(--prim-txt-color);
}

a:hover {
    color: var(--sec-txt-color)
}

.input,
.input:focus {
    border-radius: 4px;
    border: solid 1px var(--border-color);
    background-color: var(--ter-bg-color);
    color: var(--button-txt-color);
    font-family: var(--prim-text-font-family);
    padding: 0 20px;
}

:focus-visible {
    outline: solid 2px var(--focus-border-color);
}

.button {
    background-color: var(--button-bg-color);
    border-radius: 4px;
    border: solid 1px var(--border-color);
}

.button:hover {
    background-color: var(--hover-button-bg-color);
    cursor: pointer;
}

.sqrform {
    width: 3em;
    height: 3em;
    padding: 0;
    overflow: hidden;
}

.topbar {
    width: 100vw;
    padding: 4px 0;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--prim-bg-color);
    box-shadow: 0px 0px 10px var(--ter-bg-color);
    z-index: 1;
}

.mt_logo {
    border-radius: 6px;
}

.divlogo {
    padding-left: 30px;
    align-items: center;
    display: flex;
}

.topsearch,
.topbuttons {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.pagebody {
    gap: 24px;
    height: max-content;
    padding: 24px 64px;
}

.profile,
.interactions,
.conections {
    border: solid 1px var(--border-color);
    display: block;
}

.cover_cont {
    width: 100%;
    height: 100px;
    background-color: var(--sec-bg-color);
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar {
    display: flex;
    margin: auto;
    border: solid 3px white;
    border-radius: 3px;
}

.avatar_cont {
    position: relative;
    top: -50px;
}

.search_svg path {
    fill: var(--ter-bg-color);
}

.notification {
    
}

.dotcont {
    position: relative;
    z-index: 1;
    top: -45px;
    right: -15px;
}

.reddot {
    fill: var(--prim-bg-color);
}

.profile_name {
    text-align: center;
}

.profile_info {
    text-align: center;
    padding: 0 30px;
}

p {
    color: var(--sec-txt-color)
}

.profile_info>p:nth-child(4) {
    color: var(--ter-txt-color);
    text-align: justify;
}

.counter {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
    line-height: 0.8em;
}

.buttons {
    margin: -30px 30px 0 30px;
}

.lgbtn {
    background-color: var(--sec-bg-color);
    height: 48px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    text-indent: 10px;
    margin-bottom: 5px;
}

a:visited > .lgbtn {
    background-color: var(--button-bg-color);
}

.bell {
    padding: 9px;
}